body,
header,
footer,
div,
ul,
li,
ol,
dl,
dt,
dd,
table,
p,
span,
i,
h1,
h2,
h3,
h4,
h5,
h6,
section,
a,
input,
button,
textarea,
blockquote,
th,
td,
form,
pre,
code {
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB",
    "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
}

a:active,
a:hover {
  outline: 0;
}

img {
  display: inline-block;
  border: none;
  vertical-align: middle;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

li {
  list-style: none;
}

h1,
h2,
h3 {
  font-size: 14px;
  font-weight: 400;
}

h4,
h5,
h6 {
  font-size: 100%;
  font-weight: 400;
}

button,
input,
select,
textarea {
  font-size: 100%;
}

input,
button,
textarea,
select,
optgroup,
option {
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  outline: 0;
}

pre {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}
html, body{
    height: 100%;
}
.custom-scrollbar::-webkit-scrollbar {
 width: 6px;
}
 .custom-scrollbar::-webkit-scrollbar-track {
 background-color:#fff;
 -webkit-border-radius: 2em;
 -moz-border-radius: 2em;
 border-radius:2em;
}
 .custom-scrollbar::-webkit-scrollbar-thumb {
 background-color:#bbb;
 -webkit-border-radius: 2em;
 -moz-border-radius: 2em;
 border-radius:2em;
}

.clear-fix:after{
  display: block;
  clear: both;
  content: ''
}